/* -- CARD -- */

blackjack-card {
    position: relative;
    display: inline-block;
    width: 9.1rem;
    height: 13.9rem;
    margin: 10px;
    user-select: none;
    perspective: 1000px;
}

blackjack-card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: transform;
    transform-style: preserve-3d;
}

blackjack-card .content.flip {
    transform: rotateY(180deg);
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: transform;
}

blackjack-card .content .front,
blackjack-card .content .back {
    display: inline-block;
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #ffffff;
    border: 10px solid #ffffff;
    outline: 2px solid #000000;
    border-radius: 12px;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

blackjack-card .content .back,
blackjack-card .content .back {
    background-image: linear-gradient(45deg, #ff0000 25%, transparent 25%, transparent 75%, #ff0000 75%, #ff0000),
        linear-gradient(45deg, #ff0000 25%, transparent 25%, transparent 75%, #ff0000 75%, #ff0000);
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
}

blackjack-card .content.faceup .back {
    transform: rotateY(180deg);
}

blackjack-card .content.facedown .front {
    transform: rotateY(180deg);
}

blackjack-card .content .front.spade,
blackjack-card .content .front.club {
    color: #000000;
}

blackjack-card .content .front.diamond,
blackjack-card .content .front.heart {
    color: #ff0000;
}

blackjack-card .content .front .rank {
    position: absolute;
    font-size: 56px;
    top: 0;
    left: 5px;
}

blackjack-card .content .front .suit {
    position: absolute;
    font-size: 65px;
    bottom: 0px;
    right: 5px;
}

blackjack-card[data-rank="Ten"] .content .front .rank {
    left: 0;
}

/* -- HAND -- */

blackjack-hand .cards {
    position: relative;
    display: inline-block;
    list-style-type: none;
    user-select: none;
    padding: 0;
}

blackjack-hand .cards li {
    display: inline-block;
    margin-left: -105px;
}

blackjack-hand .cards li:nth-child(1) {
    margin-left: 0;
}


/* --- SHOE --- */

blackjack-shoe {
    float: right;
    display: block;
    transform: rotate(90deg);
    cursor: pointer;
    margin: 100px 0 200px 0;
}

blackjack-shoe .cards {
    width: 9.1rem;
    height: 13.9rem;
    position: relative;
    display: inline-block;
    list-style-type: none;
    user-select: none;
    padding: 0;
}

blackjack-shoe .cards li {
    width: 9.1rem;
    height: 13.9rem;
    position: absolute;
    display: inline-block;
}

blackjack-shoe .cards li:nth-child(1) {
    margin-left: 12px;
    margin-top: 12px;
}

blackjack-shoe .cards li:nth-child(2) {
    margin-left: 6px;
    margin-top: 6px;
}

blackjack-shoe .cards blackjack-card {
    margin: 0;
}

blackjack-shoe .cards blackjack-card .content,
blackjack-shoe .cards blackjack-card .content.flip {
    transition-duration: 0.35s;
}

blackjack-shoe .cards li:nth-child(1) blackjack-card .content .front,
blackjack-shoe .cards li:nth-child(1) blackjack-card .content .back {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

blackjack-shoe .cards li:nth-child(2) blackjack-card .content .front,
blackjack-shoe .cards li:nth-child(2) blackjack-card .content .back {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.8);
}

blackjack-shoe .cards li:nth-child(3) blackjack-card .content .front,
blackjack-shoe .cards li:nth-child(3) blackjack-card .content .back {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.6);
}

blackjack-shoe .cards li:nth-child(n+4) blackjack-card .content .front,
blackjack-shoe .cards li:nth-child(n+4) blackjack-card .content .back {
    box-shadow: none;
}

/* -- PLAYER -- */
blackjack-players ul {
    position: relative;
    padding: 0;
    display: table;
    width: 100%;
    max-width: 1700px;
    bottom: -55px;
    margin-top: 50px;
    list-style: none;
}

blackjack-players li {
    display: table-cell;
    position: relative;
    text-align: center;
}

blackjack-players li:nth-child(1) blackjack-player {
    transform-origin: top right;
    transform: rotate(30deg);
    top: -5px;
}

blackjack-players li:nth-child(3) blackjack-player {
    transform-origin: top left;
    transform: rotate(-30deg);
    top: -5px;
}

blackjack-player {
    width: 9.1rem;
    height: 13.9rem;
    margin: 20px 50px;
    display: inline-block;
    position: relative;
    border-radius: 12px;
    box-shadow: inset 3px 3px 5px 0 rgb(0 0 0 / 12%), inset -2px -2px 4px 0px rgb(124 124 124 / 10%);
    background-color: rgba(56, 56, 56, 0.1);
}